body {
    background-color: darkslategray;
}

div {
    border: 2px solid black;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    float: left;
}

#input {
    height: 50px;
    background-color: lightgray;
    border: 3px solid black; 
}
#menu {
    background-color: lightskyblue;
    border: 3px solid black;
    width: 20%;
    height: 300px;
    float: left;
    padding: 10px;
    position: fixed;
}

#div_search {
    background-color: lightgray;
    width: 130px;
    clear: left;
}

#div1 {
    background-color: lightgray;
    width: 130px;
    clear: left;
}

#div2 {
    background-color: lightgray;
    width: 130px;
    clear: left;
}

#input {
    clear: left;
    width: 73%;
    float: right;    
    background-color: off-white;
}

#Info {
    width: 73%;
    height: 400px;
    background-color: lightskyblue;
    float: right;
}

#part1 {
    margin-top: 5px;
    border: 0px;
    float: center;
    clear: right;
    width: 50%;
}

#part2 {
    margin-top: 5px;
    border: 0px;
    float: center;
    clear: right;
    width: 50%;
}

#part3 {
    margin-top: 5px;
    border: 0px;
    float: center;
    clear: right;
    width: 50%;
}

#part4 {
    margin-top: 5px;
    border: 0px;
    float: center;
    clear: right;
    width: 50%;
}

#info1 {
    width: 80%;
    clear: left;
    float: left;
    border: 0px;
}

#info2 {
    width: 80%;
    clear: left;
    float: left;
    border: 0px;
}

#info3 {
    width: 80%;
    clear: left;
    float: left;
    border: 0px;
}

#info4 {
    width: 80%;
    clear: left;
    float: left;
    border: 0px;
}
