<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask - Senty </title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

<!---
	  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	 <link href="../static/css/LogIn.css" rel="stylesheet">-->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/login.js"></script> 
    

    <meta charset="utf-8"/>
    
  </head>
 
  <body >
  <style>
  body{
  	background-color: #92a8d1;
  }
  </style>
 
      <div id="logg" style="text-align:right">
      <p>
        <a href="showLogIn">Log In</a>
        <a href="showSignUp">Sign Up</a>
        <a href="/">Home</a>
      </p>
      </div>
 
      <div class="jumbotron">
        <h1>Log In</h1>
        <form class="form-signin">
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnLogIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; SentyCorp</p>
      </footer>
 
    </div>
  </body>
</html>
